@model IEnumerable<newapp.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Studentname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Studentname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Studentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Studentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Studentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
